body{
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; padding: 0;
}
.generalContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}